@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

@import "images.scss";
@import "bg-toggles.scss";

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #f3f8f7 49.91%,
    #fff9f5 94.19%
  );
  overflow-x: hidden;
  color: #54575a;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  position: relative;
  width: 1440px;
  height: 1379px;
  margin: auto;

  .title {
    position: absolute;
    width: 458px;
    height: 135px;
    left: 221px;
    top: 236px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 67px;
    /* or 105% */
  }

  .text {
    position: absolute;
    width: 394px;
    height: 96px;
    left: 221px;
    top: 403px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
  }
}
